# apt-proxy-setup configuration file
# ----------------------------------
#
# Copy this file to /etc/default/apt-proxy-setup
# and adjust it to your liking.
#
# This file tells the apt-proxy-setup upstart
# job to know what kind of probing to do

# Probe URL
# ^^^^^^^^^
# apt-proxy-setup will probe this URL (GET it) whenever this machine connects
# to a different network. The contents of that URL should be small, preferrably
# just a single word.
PROBE_URL=http://apt-proxy.local/.proxy.txt

# Expected answer
# ^^^^^^^^^^^^^^^ 
# When the probed URL matches this value assume we're in a local network with
# local apt proxy available.
PROBE_ANSWER=yes

# Proxy URL
# ^^^^^^^^^
# When the probed URL matches the expected answer above then set the following
# apt proxy.
PROXY_URL=http://proxy.local:3142
